:root{
  --whitish:rgb(249,249,249); 
  --grayish-white:   rgb(243,243,243);
}
.main{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:30px;
    margin-top: 30px;  
}
.blog-preview {
  background-color: var(--grayish-white);
  padding: 15px;
}

 